.header {
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
        url("../images/run.jpg") center/cover no-repeat;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid rgb(24, 24, 24);
    margin-bottom: 20px;
}

.header__text {
    font-size: 4.5rem;
    color: white;
    text-shadow: 0 0 4px black;
}
