.searchBar {
    display: block;
    margin: 20px auto;
    padding: 3px 6px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px solid rgb(49, 49, 49);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    background: url("../image/search\ icon.png"), gray;
    background-repeat: no-repeat;
    background-position: 6px;
    transition: background-position 0.2s, width 0.2s, background 0.2s;
    width: 60%;
}

.searchBar:hover {
    background: url("../image/search\ icon.png"), rgb(162, 162, 162);
    background-repeat: no-repeat;
    background-position: 6px;
}

.searchBar:focus {
    border: 2px solid blue;
    background-position: -30px 6px;
    width: 65%;
}
